<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<h1>결제 정보 입력</h1>
<form th:action="@{/payments/pay}" th:object="${paymentsRequest}" method="post">
  <label th:for="cardNumber">카드번호:</label>
  <input type="text" th:field="*{cardNumber}" required/><br/>

  <label th:for="expirationDate">유효기간 (MM/YY):</label>
  <input type="text" th:field="*{expirationDate}" required/><br/>

  <label th:for="amount">금액:</label>
  <input type="number" th:field="*{amount}" required/><br/>

  <label th:for="installmentMonths">할부개월수:</label>
  <input type="number" th:field="*{installmentMonths}" required/><br/>

  <label th:for="transactionDate">거래일자 (YYYY-MM-DD):</label>
  <input type="date" th:field="*{transactionDate}" required/><br/>

  <button type="submit">결제하기</button>
</form>

<a href="/"><button>취소</button></a>
<div th:replace="fragments/footer :: footer" />
</body>
</html>
